.outage-message-card .outage-message-card-block .outage-message-card-text {
  font-weight: bold;
  margin: 0;
  padding: 0; }
  .outage-message-card .outage-message-card-block .outage-message-card-text span {
    font-weight: normal !important; }
